{# footer content #}
<footer class="page-footer font-small mdb-color pt-1" style="background-color:#003c7e; color:white; line-height:1;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 col-lg-12 col-xl-12 mx-auto mt-3">
        <h6 class="mb-4 font-weight-bold">Best Western Taxco</h6>
        {# margin-bottom: 5px; between texts #}
        <p class="_footer_text">Calle J. Nibbi 2, Centro, 40200 Taxco, Guerrero, México</p>
        <p class="_footer_text">reservaciones@bestwesterntaxco.com.mx</p>
        <p class="_footer_text">+52 (762) 622 3416</p>
        <p class="_footer_text">800 561 2663</p>

      </div>
      <hr class="w-100 clearfix d-md-none">
    </div>
    
    <div class="row pt-3">
      <div class="col-md-12">
        <div class="text-center">
          <div class="col-md-4 offset-md-4">
              <a class="main_font" href="https://www.facebook.com/bestwesterntaxcoface">
                  <span class="fab fa-facebook-f  _fab_decorator"></span>
              </a>
              <a class="main_font" href="https://www.youtube.com/user/bestwesternTV">
                  <span class="fab fa-youtube _fab_decorator"></span>
              </a>
              <a class="main_font" href="https://www.tripadvisor.com.mx/Hotel_Review-g150803-d566020-Reviews-Best_Western_Taxco-Taxco_Pacific_Coast.html?m=19905">
                  <span class="fab fa-tripadvisor _fab_decorator"></span>
              </a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <div class="col-lg-6 offset-lg-3">
              <a class="main_font" href="/">Inicio</a>
              <hr class="vertical-line">
              <a class="main_font" href="//www.bestwestern.com/es_ES/legal/privacy-policy.html" target=”_blank”>Política de Privacidad</a>
              <hr class="vertical-line">
              <a class="main_font" href="{% url 'reservation_policies' %}" target="_blank">Política de Reservación</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-2 pb-2">
      <div class="col-md-12">
        <div class="text-center">
          <p class="legals">
          Cada hotel Best Western® es de propiedad y operación independientes. Best Western International, Inc.
          </p>
          <p class="legals">
          Todos los derechos reservados.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
